<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleServletApps</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SimpleFormServlet</display-name>
    <servlet-name>SimpleFormServlet</servlet-name>
    <servlet-class>SimpleAppExamples01a.SimpleFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFormServlet</servlet-name>
    <url-pattern>/SimpleFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alabala</display-name>
    <servlet-name>alabala</servlet-name>
    <servlet-class>ServletCodeExamples01.alabala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alabala</servlet-name>
    <url-pattern>/alabala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HtppServletExnteded</display-name>
    <servlet-name>HtppServletExnteded</servlet-name>
    <servlet-class>ServletCodeExamples01.HtppServletExnteded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtppServletExnteded</servlet-name>
    <url-pattern>/HtppServletExnteded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleServletWithDeploymentDescriptor</display-name>
    <servlet-name>SimpleServletWithDeploymentDescriptor</servlet-name>
    <servlet-class>ServletCodeExamples02.SimpleServletWithDeploymentDescriptor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServletWithDeploymentDescriptor</servlet-name>
    <url-pattern>/SimpleServletWithDeploymentDescriptor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServletUsingDeploymentDescriptor</display-name>
    <servlet-name>WelcomeServletUsingDeploymentDescriptor</servlet-name>
    <servlet-class>ServletCodeExamples02.WelcomeServletUsingDeploymentDescriptor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServletUsingDeploymentDescriptor</servlet-name>
    <url-pattern>/WelcomeServletUsingDeploymentDescriptor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLRewriting</display-name>
    <servlet-name>URLRewriting</servlet-name>
    <servlet-class>Sessions.URLRewriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLRewriting</servlet-name>
    <url-pattern>/URLRewriting</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ShoppingCartServlet</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>product.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  
</web-app>